{% extends 'layout.html' %}

{% block body %}
<!-- PAGE CONTAINER-->
<div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="header-wrap">
                    <form class="form-header" action="" method="POST">
                        <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                        <button class="au-btn--submit" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </form>
                    <div class="header-button">

                        <div class="account-wrap">
                            <div class="account-item clearfix js-item-menu">
                                <div class="image">
                                    <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">Administrador</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">john doe</a>
                                            </h5>
                                            <span class="email">johndoe@example.com</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>Account</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-settings"></i>Setting</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-money-box"></i>Billing</a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a href="#">
                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">overview</h2>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">Materiales Recientes</h2>
                        <div class="table-responsive table--no-card m-b-40">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>ID Empleado</th>
                                        <th>Nombre Empleado</th>
                                        <th class="text-right">ID Material</th>
                                        <th class="text-right">Nombre Material</th>
                                        <th class="text-right">Peso</th>
                                        <th class="text-right">Quilataje</th>
                                        <th class="text-right">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2018-09-29 05:57</td>
                                        <td>100398</td>
                                        <td>Jonathan Avila</td>
                                        <td class="text-right">313</td>
                                        <td class="text-right">Plata</td>
                                        <td class="text-right">1.25</td>
                                        <td class="text-right">12</td>
                                        <td class="text-right">Entrada</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-28 01:22</td>
                                        <td>100397</td>
                                        <td>Carlos Torres</td>
                                        <td class="text-right">925</td>
                                        <td class="text-right">Oro</td>
                                        <td class="text-right">2.00</td>
                                        <td class="text-right">14</td>
                                        <td class="text-right">Entrada</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-27 02:12</td>
                                        <td>100396</td>
                                        <td>Luisa Flores</td>
                                        <td class="text-right">115</td>
                                        <td class="text-right">Platino</td>
                                        <td class="text-right">1.50</td>
                                        <td class="text-right">10</td>
                                        <td class="text-right">Salida</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-26 23:06</td>
                                        <td>100395</td>
                                        <td>Pedro Paramo</td>
                                        <td class="text-right">738</td>
                                        <td class="text-right">Diamante</td>
                                        <td class="text-right">0.05</td>
                                        <td class="text-right">5</td>
                                        <td class="text-right">Entrada</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-25 19:03</td>
                                        <td>100393</td>
                                        <td>Juan Rulfo</td>
                                        <td class="text-right">738</td>
                                        <td class="text-right">Diamante</td>
                                        <td class="text-right">0.02</td>
                                        <td class="text-right">2</td>
                                        <td class="text-right">Entrada</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-29 05:57</td>
                                        <td>100392</td>
                                        <td>Humberto Suarez</td>
                                        <td class="text-right">925</td>
                                        <td class="text-right">Oro</td>
                                        <td class="text-right">2.25</td>
                                        <td class="text-right">24</td>
                                        <td class="text-right">Salida</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-24 19:10</td>
                                        <td>100391</td>
                                        <td>Carolina Moreno</td>
                                        <td class="text-right">313</td>
                                        <td class="text-right">Plata</td>
                                        <td class="text-right">0.78</td>
                                        <td class="text-right">12</td>
                                        <td class="text-right">Salida</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-22 00:43</td>
                                        <td>100393</td>
                                        <td>Anahi Ruvalcaba</td>
                                        <td class="text-right">313</td>
                                        <td class="text-right">Plata</td>
                                        <td class="text-right">0.98</td>
                                        <td class="text-right">12</td>
                                        <td class="text-right">Entrada</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="title-1 m-b-25">Nuevos Trabajadores</h2>
                        <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                            <div class="au-card-inner">
                                <div class="table-responsive">
                                    <table class="table table-top-countries">
                                        <tbody>
                                            <tr>
                                                <td>Javier Lopez</td>
                                                <td class="text-right">9083</td>
                                            </tr>
                                            <tr>
                                                <td>Miguel Hernandez</td>
                                                <td class="text-right">9082</td>
                                            </tr>
                                            <tr>
                                                <td>Hernan Costa</td>
                                                <td class="text-right">9081</td>
                                            </tr>
                                            <tr>
                                                <td>Kenny Gomez</td>
                                                <td class="text-right">9080</td>
                                            </tr>
                                            <tr>
                                                <td>Laura Hurtado</td>
                                                <td class="text-right">9079</td>
                                            </tr>
                                            <tr>
                                                <td>Karla Juarez</td>
                                                <td class="text-right">9078</td>
                                            </tr>
                                            <tr>
                                                <td>Luis Lopez</td>
                                                <td class="text-right">9077</td>
                                            </tr>
                                            <tr>
                                                <td>Humberto Sanchez</td>
                                                <td class="text-right">9076</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>
{% endblock body %}